<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASCII Art Web</title>
</head>
<body>
    <h1>ASCII ART WEB</h1>

    <h2>I am testing the second heading</h2>

    <p>Hello from HTML Page.</p>

    <form>

    <label>Enter text</label>
    <br>
    <textarea name="text"></textarea>
    <br>
    <select name="banner">
        <option>standard</option>
        <option>shadow</option>
        <option>thinkertoy</option>

        
    </select>

   <p> <button>Generate</button> </p>

   </form>
   <hr>

   <prev>
    RESULT AREA
   </prev>
</body>
</html>