<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASCII Art Web</title>
	<style>
		body {
			background-color: rgb(46, 2, 2);
			color: white;
		}

		h1 {
			color: cyan;
		}

		label {
			color: rgb(187, 54, 192);
		}

		button {
			color: green;
		}

		textarea {
			width: 400px;
			height: 120px;
		}
	</style>
</head>

<body>
    <h1>ASCII ART WEB</h1>

    <div>

	<form action="/ascii-art" method="POST">

		<label>Enter Text</label>

		<br>

		<textarea name="text"></textarea>

		<br>

		<select name="banner">

			<option>standard</option>

			<option>shadow</option>
			<option>thinkertoy</option>

		</select>

		<br>

		<button>Generate</button>

	</form>

    <hr>

    <pre>
    {{.}}
    </pre>

    </div>
</body>
</html>